/* LavaLamp.css */



.morphing-blob-2 {
    position: fixed;
    top: -70vh; /* Start above the visible screen */
    left: 88%;
    transform: translateX(-50%); /* Center horizontally */
    z-index: -2;
    animation: floating-blobs infinite linear alternate;
}

/*#blob3 {
    fill: url(#bg-gradient-2);
}
*/

.morphing-blob-3 {
    position: fixed;
    top: -70vh; /* Start above the visible screen */
    left: 24%;
    transform: translateX(-50%); /* Center horizontally */
    z-index: -2;
    animation: floating-blobs infinite linear alternate;
    filter: blur(1px);
}

.morphing-blob-4 {
    position: fixed;
    top: -70vh; /* Start above the visible screen */
    left: 24%;
    transform: translateX(-50%); /* Center horizontally */
    z-index: -2;
    animation: floating-blobs infinite linear alternate;
    filter: blur(1px);


}

.morphing-blob-5 {
    position: fixed;
    top: -70vh; /* Start above the visible screen */
    left: 24%;
    transform: translateX(-50%); /* Center horizontally */
    z-index: -2;
    animation: floating-blobs infinite linear alternate;
    filter: blur(1px);

}


@keyframes floating-blobs {
    0%, 100% {
        transform: translateY(0) rotate(0deg);
    }

    25% {
        transform: translateY(100vh) rotate(90deg);
    }

    50% {
        transform: translateY(200vh) rotate(180deg);
    }

    75% {
        transform: translateY(300vh) rotate(270deg);
    }
}


#blob3, #blob5, #blob7, #blob9 {
    fill: url(#bg-gradient-4);
}


