/* LogoBlob.css */


.logo-blob {
    top: 20%;
    left: 32%;
    width: 25vw;
    height: 20vh;
    position: relative;
    align-content: center;
    text-align-all: center;
}

.logo-blob .name {
    position: absolute;
    font-size: 60px;
    text-shadow: #FA7268;
    align-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    letter-spacing: 0;
    line-height: 10rem; /* You can adjust the value as needed */
    color: #cccc;
    z-index: 999;
    opacity: 0.99;
    display: inline-block;
    top: 32vh;
    left: 17vw;
}

.morphing-blob-1 {
    position: fixed;
    top: 32vh; /* Start above the visible screen */
    left: 17vw; /* Adjust as needed */
    z-index: 0;
    display: inline-block;
    scale: 1.5;
    animation: hero-blob-float infinite ease-in-out alternate 5s;
}

@keyframes hero-blob-float {
    0% {
        transform: scale(100%) rotate(0deg);
    }

    25% {
        transform: scale(82%) rotate(-5deg);
    }
    50% {
        transform: scale(83%) rotate(+6deg);
    }
    75% {
        transform: scale(82%) rotate(-4deg);
    }
    100% {
        transform: scale(80%) rotate(3deg);
    }
}

#blob1 {
    fill: url(#bg-gradient-1);
    z-index: 0;
}
