/* LavaLamp.css */

.morphing-blob {
    position: fixed;
    top: 32vh; /* Start above the visible screen */
    left: 17vw; /* Adjust as needed */
    z-index: 0;
    transition: all 4s ease-in-out;
}

#blob1-path1 {
    fill: url(#bg-gradient-1);
    z-index: 0;
}

@keyframes hero-blob-float {
    0% {
        transform: scale(100%) rotate(0deg);
    }
    25% {
        transform: scale(82%) rotate(-5deg);
    }
    50% {
        transform: scale(83%) rotate(+6deg);
    }
    75% {
        transform: scale(82%) rotate(-4deg);
    }
    100% {
        transform: scale(80%) rotate(3deg);
    }
}


.morphing-blob.randomized {
    position: fixed;
    top: -100vh; /* Start above the visible screen */
    left: 24%;
    transform: translateX(-50%); /* Center horizontally */
    z-index: -2;
    animation: blob-float infinite linear alternate;
}


@keyframes blob-float {
    0%, 100% {
        transform: translateY(0) rotate(0deg);
    }

    45% {
        transform: translateY(100vh) rotate(90deg);
    }

    60% {
        transform: translateY(200vh) rotate(180deg);
    }

    75% {
        transform: translateY(300vh) rotate(270deg);
    }
}


#blob2-path1, #blob3-path1, #blob4-path1, #blob5-path1 {
    fill: url(#bg-gradient-4);
}


