/* blob1.css */

.blob-1
{
    top: 10vh;
    left: 40vw;
    position: fixed;
    height: 100rem;
    width: 100vw;
    z-index: -1;
    box-shadow: 0 0 20rem rgb(36, 36, 36),
    0 0 20rem rgb(51, 51, 50),
    0 0 20rem rgba(36, 36, 36, 0.98),
    0 0 20rem rgb(36, 36, 36);
    background: linear-gradient(to bottom, #333  , black); /* Gradient background */
    transform: skewY(-10deg); /* Skew the element vertically */
    filter: blur(150px);
    border-radius: 100rem;
}


.blob-1::before {
    content: "";
    position: absolute;
    top: -10px; /* Adjust the top position to control the slant */
    left: 0;
    width: 100%;
    height: 10px; /* Adjust the height to control the slant degree */
    transform: skewY(-10deg); /* Skew the pseudo-element vertically */
}
