/* ReactiveButton3.css */

/* default state */
.item4 {
    top: 4vh;
    left: 2%;
}

/* scrolled state */
.item4.scrolled {
    width:  18vw;
    top: 25rem; /* Move to the middle of the screen vertically */
}
