/* ReactiveButton.css */

/* Style the menu item container */
.menu-item {
    position: fixed;
    width: 8vw;
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, #333  , #0005); /* Gradient background */
    border-radius: 20px; /* Rounded corners */
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-out, left 0.3s ease-out, width 0.3s ease-out, top 0.3s ease; /* Add transitions for background color, left position, and width */
    z-index: 999;
    justify-content: center;
    background-clip:unset;

    top: 5vh;
}

.menu-item.scrolled {
    width:  18vw;
    left: 5vw;
}

.menu-item:hover{
    background: linear-gradient(to bottom, #333  , #007bff); /* Gradient background */
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}


/* Style the menu icon */
.menu-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

/* Style the menu text */
.menu-text {
    font-size: 16px;
    color: #f0f0f0; /* Text color */
}



/* Add any other styles you need */



