/* MainPage.css */


#title h1{
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    z-index: 999;
}

#up {
    position: fixed;
    overflow-block: auto;
    top: 0;
    left: -200vw;
    width: 300%;
    height: 100%;
    display: flex;
    background-size: cover;
    background-position: top;
    background-image: url('../../assets/Test_top_2.svg');
    animation: slide1 50s ease-in-out infinite alternate;
    z-index: -1;
    /*filter: blur(1px);*/
}


#down {

    position: fixed;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    display: flex;
    background-size: cover;
    background-position: bottom;
    background-image: url('../../assets/Test_bot_2.svg');
    animation: slide2 45s ease-in-out infinite alternate;
    z-index: -1;
    filter: blur(1px);

}



@keyframes slide1 {
    0%{
        transform: translateX(0);
    }



    100%{
        transform: translateX(140vw);
    }

}

@keyframes slide2 {
    0%{
        transform: translateX(0vw);
    }

    100%{
        transform: translateX(-150vw);
    }
}

