/* MainPage.css */

.background {
    top:0;
    left: 0;
    width: 100vw;
    position: fixed;
    z-index: -100;
    height: 100vh;
    background: linear-gradient(to bottom, #110e0e, rgba(231, 0, 0, 0.33)); /* Gradient background */
}

#up {
    position: fixed;
    overflow-block: auto;
    top: 0;
    left: -200%;
    width: 300%;
    height: 100%;
    display: flex;
    background-size: cover;
    background-position: top;
    background-image: url('../../../assets/Test_top_2.svg');
    animation: slide1 50s ease-in-out infinite alternate;
    z-index: -1;

    transition: all 0.3s linear;
    filter: blur(1px);
    transform-style: preserve-3d;
    transform: translateY(0);
    opacity: 1;
}

#up.hidden {
    opacity: 0;
    filter: blur(7px);
    top: -20vh;
}

#down {

    position: fixed;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    display: flex;
    background-size: cover;
    background-position: bottom;
    background-image: url('../../../assets/Test_bot_2.svg');
    animation: slide2 45s ease-in-out infinite alternate;
    z-index: -1;

    transition: all 0.3s linear;
    filter: blur(1px);
    opacity: 1;
    transform: translateY(0);
}

#down.hidden {
    opacity: 0;
    filter: blur(7px);
    top: +20vh;
}



@keyframes slide1 {
    0% {
        transform: translateX(0);
    }


    100% {
        transform: translateX(150vw);
    }

}

@keyframes slide2 {
    0% {
        transform: translateX(0vw);
    }

    100% {
        transform: translateX(-150vw);
    }
}

