/* ReactiveButton.css */

/* Style the menu item container */
.menu-item {
    position: fixed;
    top: 7vh;
    width: 8vw;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #333, #0005); /* Gradient background */
    border-radius: 20px; /* Rounded corners */
    padding: 20px;
    text-after-overflow: wrap;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
    background-clip: unset;

    transition: background-color 0.3s ease-out,
    left 0.3s ease-out,
    right ease-out 0.3s,
    width 0.3s ease-out,
    top 0.3s ease,

    transform 1s ease,
    opacity 1s ease,
    filter 1s ease;

    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.menu-item.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);

}

.menu-item.scrolled {
    width: 17vw;
    left: 5vw;
}

.menu-item:hover {
    transition-delay: 0s;
    background: linear-gradient(to bottom, #333, #007bff); /* Gradient background */
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}


/* Style the menu icon */
.menu-icon {
    position: absolute;
    left: 4px;
    width: 48px;
    height: 48px;
    margin-right: 10px;

}

/* Style the menu text */
.menu-text {
    font-size: 16px;
    color: #f0f0f0; /* Text color */
}





