/* ReactiveButton3.css */

/* default state */
.item3 {
    left: 30vw;
    transition: left 0.3s ease-out 0s,
    right ease-out 0.3s 0s,
    width 0.3s ease-out 0s,
    top 0.3s ease-out 0s,
    transform 1s ease-out 0.6s,
    opacity 1s ease-out 0.6s,
    filter 1s ease-out 0.6s;
}


/* scrolled state */
.item3.scrolled {
    top: 18rem;
}
