/* ReactiveButton1.css */

/* default state */
.item1 {
    left: 8vw;
    transition: left 0.3s ease-out 0s,
    right ease-out 0.3s 0s,
    width 0.3s ease-out 0s,
    top 0.3s ease-out 0s,
    transform 1s ease-out 0.2s,
    opacity 1s ease-out 0.2s,
    filter 1s ease-out 0.2s;
}


/* scrolled state */
.item1.scrolled {
    top: 30rem;
}





