/* Item.css */

.rectangle-item {
    /* Set the width and height of the item */
    width: 30rem; /* Adjust as needed */
    height: 30rem; /* Adjust as needed */
    border-radius: 10px; /* Rounded corners */
    position: relative; /* Make the item a positioned container */
    overflow: hidden; /* Hide the inner shadows overflow */
    transition: box-shadow 0.3s ease-in-out; /* Add transition for hover effect */
    z-index: 999;
}


.rectangle-item:hover {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.4); /* Change shadow on hover */
    background: linear-gradient(to bottom, #242424  , #0005); /* Gradient background */

}

.rectangle-item h3 {
    /* Style for the heading label at the top */
    margin: 0;
    font-size: 20px; /* Adjust font size as needed */
}

.rectangle-item img {
    transition: transform 0.3s; /* Add a transition for smooth animation */
    /* Style for the image in the middle */
    max-height: 60%; /* Adjust image height as needed */
    border-radius: 10px 10px 0 0; /* Rounded top corners */
    width: 90%;
}

.rectangle-item img {

}

.rectangle-item img:hover {
    transform: scale(1.05); /* Increase the scale to zoom in (adjust as needed) */
}

.icons {
    /* Style for the small icons at the bottom */
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.icons span {
    margin: 0 5px; /* Adjust spacing between icons */
    font-size: 14px; /* Adjust font size as needed */
    color: #fff2ee; /* Icon color */
}

.rectangle-item video {
    top: 50%;
    left: 50%;
    z-index: 999;
    position: absolute;
}
