/* HeroSection.css */

.hero-section {
    position: fixed;
    top: 3vh;
    left: 25vw;
    font-size: 100px ;
    text-shadow:  #FA7268;

    border-radius: 10px;
    width: 40vw;
    height: 20vh;
    letter-spacing: 0;
    line-height: 10rem; /* You can adjust the value as needed */

    filter: blur(100x);
    text-align: left;
    color: #f5f5f5;
    z-index: 999;
}

.hero-section h2 {
}