/* HeroSection.css */

.hero-section {
    position: sticky;
    top: 20vh;
    left: 50vw;
    border-radius: 10px;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.4); /* Change shadow on hover */
    background: linear-gradient(to bottom, #242424  , #0005); /* Gradient background */
    width: 40vw;
    height: 20vh;
    filter: blur(100x);
    text-align: left;

}

.hero-section h2 {
}