/* SearchBar.css */

/* Style the search bar container */
/* SearchBar.css */

/* Style the search bar container */
/* SearchBar.css */

/* Style the search bar container */
.search-bar {
    z-index: 999;
    position: fixed;
    top: 4vh;
    left: 50%;
    transform: translateX(-50%);
    width: 35vw;
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 20px;
    padding: 12px 20px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: left 0.25s ease-out, width 0.25s ease-out; /* Add transitions for smooth animation */
}

/* Add styles for the scrolled state */
.search-bar.scrolled {
    left: 12%; /* Adjust left position for the scrolled state */
    width:  18vw; /* Reduce width to half when scrolled */
    z-index: 999;
}


/* Style the search input field */
.search-bar input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    color: #333;
    background-color: transparent;

}



.search-bar .search-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}