#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
header {
  margin-top: 6%  ;
  align-content: center;
  font-weight: 100;
  padding: 10px;
  color: #ecedf2;

}

#title {
  font-size: 3.2em;
  line-height: 1.1;
  z-index: 3;
  background-clip: content-box;
  filter: none;
  margin-left: 50%;
  transform: translateX(-50%);
}


footer {
  width: 100%;
  text-align: center; /* Horizontally center the content */
  padding: 10px 0; /* Padding top and bottom for content */
}

.background {
  position: fixed;
  overflow-block: auto;
  top: 0;
  left: 0;
  z-index: -1;
  aspect-ratio: 900/300;
  width:calc( 100vw);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('./assets/backg2-horisontal.svg')
}
