/* blob3.css */

.blob-3
{
    top: 60vh;
    left: -10%;
    position: fixed;
    height: 10rem;
    width: 20vw;
    z-index: -1;
    box-shadow: 0 0 20rem rgb(47, 22, 145),
    0 0 20rem rgb(65, 39, 130),
    0 0 20rem rgb(114, 163, 237),
    0 0 20rem rgb(118, 169, 255);
    background: linear-gradient(to bottom, #2F1691FF, #412782FF ); /* Gradient background */
    transform: skewY(2deg); /* Skew the element vertically */
    filter: blur(150px);
    border-radius: 50rem;
    transition: background-color 0.3s ease-out,
    left 0.3s ease-out,
    width 0.3s ease-out,
    height 0.3s ease-out,
    top 0.3s ease; /* Add transitions for */
}


.blob-3::before {
    content: "";
    position: absolute;
    top: -10px; /* Adjust the top position to control the slant */
    left: 0;
    width: 100%;
    height: 10px; /* Adjust the height to control the slant degree */
    transform: skewY(15deg); /* Skew the pseudo-element vertically */
}

.blob-3.scrolled {
    top: 20vh;
    left: 20%;
}
