/* LogoBlob.css */




.logo-blob .name {
    position: absolute;
    font-size: 60px;
    text-shadow: #FA7268;
    align-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    letter-spacing: 0;
    line-height: 10rem; /* You can adjust the value as needed */
    color: #cccc;
    z-index: 999;
    opacity: 0.99;
    display: inline-block;
    top: 32vh;
    left: 17vw;
}





